{
  "openapi": "3.0.3",
  "info": {
    "title": "e-conomic REST API",
    "version": "1.0.0",
    "description": "OpenAPI 3 description of the e-conomic REST API, generated from e-conomic's published per-endpoint JSON schemas. See https://restdocs.e-conomic.com/."
  },
  "servers": [
    {
      "url": "https://restapi.e-conomic.com"
    }
  ],
  "tags": [
    {
      "name": "accounting-years"
    },
    {
      "name": "accounts"
    },
    {
      "name": "app-roles"
    },
    {
      "name": "currencies"
    },
    {
      "name": "customer-groups"
    },
    {
      "name": "customers"
    },
    {
      "name": "departmental-distributions"
    },
    {
      "name": "departments"
    },
    {
      "name": "employees"
    },
    {
      "name": "invoices"
    },
    {
      "name": "journals"
    },
    {
      "name": "layouts"
    },
    {
      "name": "orders"
    },
    {
      "name": "payment-terms"
    },
    {
      "name": "payment-types"
    },
    {
      "name": "product-groups"
    },
    {
      "name": "products"
    },
    {
      "name": "quotes"
    },
    {
      "name": "self"
    },
    {
      "name": "suppliers"
    },
    {
      "name": "units"
    },
    {
      "name": "vat-accounts"
    },
    {
      "name": "vat-types"
    },
    {
      "name": "vat-zones"
    }
  ],
  "paths": {
    "/accounting-years": {
      "get": {
        "operationId": "get_accounting-years",
        "summary": "Accounting years collection GET schema",
        "description": "A schema for retrieval of a collection of accounting years.",
        "tags": [
          "accounting-years"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A schema for retrieval of a collection of accounting years.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A schema for retrieval of a collection of accounting years.",
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "description": "The array containing all the accounting years on the agreement.",
                      "items": {
                        "type": "object",
                        "description": "A specific accounting year on the agreement.",
                        "properties": {
                          "fromDate": {
                            "type": "string",
                            "format": "full-date",
                            "pattern": "\\d{4}-\\d{2}-\\d{2}",
                            "sortable": true,
                            "filterable": true,
                            "defaultsorting": "ascending",
                            "description": "The first date in the accounting year in the format YYYY-MM-DD. Except for the first accounting year on an agreement, it must be the date immediately following the previous accounting year, and thus must be the first day of a month. The first accounting year on an agreement can begin on any day of the month."
                          },
                          "toDate": {
                            "type": "string",
                            "format": "full-date",
                            "pattern": "\\d{4}-\\d{2}-\\d{2}",
                            "sortable": true,
                            "filterable": true,
                            "description": "The last date in the accounting year in the format YYYY-MM-DD. It must be the last date in the last month of the accounting year. An accounting year can at most have a duration of 18 months."
                          },
                          "closed": {
                            "type": "boolean",
                            "description": "Determines if the accounting year is closed for further transactions."
                          },
                          "year": {
                            "type": "string",
                            "pattern": "^(19|20)\\d{2}([a-j])?|^(19|20)\\d{2}(/(19|20)\\d{2})?",
                            "sortable": true,
                            "filterable": true,
                            "description": "The calendar year or years spanned by the accounting year in the format YYYY or YYYY/YYYY."
                          },
                          "periods": {
                            "type": "string",
                            "format": "uri",
                            "description": "A link to the collection of accounting year periods on an agreement."
                          },
                          "entries": {
                            "type": "string",
                            "format": "uri",
                            "description": "A link to a collection of all entries booked in the accounting year."
                          },
                          "totals": {
                            "type": "string",
                            "format": "uri",
                            "description": "A link to the chart of accounts with the years total in base currency."
                          },
                          "vouchers": {
                            "type": "string",
                            "format": "uri",
                            "description": "A link to a collection of vouchers created in the accounting year."
                          },
                          "self": {
                            "type": "string",
                            "format": "uri",
                            "description": "A unique link reference to the accounting year item."
                          }
                        },
                        "required": [
                          "self"
                        ]
                      }
                    },
                    "metaData": {
                      "type": "object",
                      "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Information about the pagination."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "The unique self reference of the accounting years collection."
                    }
                  },
                  "required": [
                    "self"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_accounting-years",
        "summary": "Accounting years POST schema",
        "description": "A schema for creating an accounting year.",
        "tags": [
          "accounting-years"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "A schema for creating an accounting year.",
                "type": "object",
                "properties": {
                  "fromDate": {
                    "type": "string",
                    "format": "full-date",
                    "pattern": "\\d{4}-\\d{2}-\\d{2}",
                    "description": "The first date in the accounting year in the format YYYY-MM-DD. Except for the first accounting year on an agreement, it must be the date immediately following the previous accounting year, and thus must be the first day of a month. The first accounting year on an agreement can begin on any day of the month."
                  },
                  "toDate": {
                    "type": "string",
                    "format": "full-date",
                    "description": "The last date in the accounting year in the format YYYY-MM-DD. It must be the last date in the last month of the accounting year. An accounting year can at most have a duration of 18 months."
                  }
                },
                "required": [
                  "fromDate",
                  "toDate"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A schema for creating an accounting year.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A schema for creating an accounting year.",
                  "type": "object",
                  "properties": {
                    "fromDate": {
                      "type": "string",
                      "format": "full-date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The first date in the accounting year in the format YYYY-MM-DD. Except for the first accounting year on an agreement, it must be the date immediately following the previous accounting year, and thus must be the first day of a month. The first accounting year on an agreement can begin on any day of the month."
                    },
                    "toDate": {
                      "type": "string",
                      "format": "full-date",
                      "description": "The last date in the accounting year in the format YYYY-MM-DD. It must be the last date in the last month of the accounting year. An accounting year can at most have a duration of 18 months."
                    }
                  },
                  "required": [
                    "fromDate",
                    "toDate"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounting-years/{accountingYear}": {
      "get": {
        "operationId": "get_accounting-years_accountingYear",
        "summary": "Accounting year GET schema",
        "description": "A schema for retrieval of an accounting years.",
        "tags": [
          "accounting-years"
        ],
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A schema for retrieval of an accounting years.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A schema for retrieval of an accounting years.",
                  "type": "object",
                  "properties": {
                    "fromDate": {
                      "type": "string",
                      "format": "full-date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "defaultsorting": "ascending",
                      "description": "The first date in the accounting year in the format YYYY-MM-DD. Except for the first accounting year on an agreement, it must be the date immediately following the previous accounting year, and thus must be the first day of a month. The first accounting year on an agreement can begin on any day of the month."
                    },
                    "toDate": {
                      "type": "string",
                      "format": "full-date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The last date in the accounting year in the format YYYY-MM-DD. It must be the last date in the last month of the accounting year. An accounting year can at most have a duration of 18 months."
                    },
                    "closed": {
                      "type": "boolean",
                      "description": "If true this indicates that the accounting year is closed for further transactions."
                    },
                    "year": {
                      "type": "string",
                      "pattern": "^(19|20)\\d{2}([a-j])?|^(19|20)\\d{2}(/(19|20)\\d{2})?",
                      "description": "The calendar year or years spanned by the accounting year in the format YYYY or YYYY/YYYY."
                    },
                    "periods": {
                      "type": "string",
                      "format": "uri",
                      "description": "A link to the collection of accounting year periods in the accounting year."
                    },
                    "entries": {
                      "type": "string",
                      "format": "uri",
                      "description": "A link to a collection of all entries booked in the accounting year."
                    },
                    "totals": {
                      "type": "string",
                      "format": "uri",
                      "description": "A link to the chart of accounts with the years total in base currency."
                    },
                    "vouchers": {
                      "type": "string",
                      "format": "uri",
                      "description": "A link to a collection of vouchers created in the accounting year. This requires that international ledger is enabled."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique link reference to the accounting year item."
                    }
                  },
                  "required": [
                    "self"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounting-years/{accountingYear}/entries": {
      "get": {
        "operationId": "get_accounting-years_accountingYear_entries",
        "summary": "Entries collection schema",
        "description": "A schema for retrieving the entries for a specific accounting years.",
        "tags": [
          "accounting-years"
        ],
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A schema for retrieving the entries for a specific accounting years.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A schema for retrieving the entries for a specific accounting years.",
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "description": "A collection of entries.",
                      "items": {
                        "type": "object",
                        "description": "A specific entry in the accounting year.",
                        "properties": {
                          "account": {
                            "type": "object",
                            "description": "The account the entry is connected to.",
                            "properties": {
                              "accountNumber": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "A unique identifier of the account."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the account resource."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "amount": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "The total entry amount."
                          },
                          "supplierInvoiceNumber": {
                            "type": "string",
                            "filterable": true,
                            "sortable": true,
                            "description": "A unique identifier of the supplier invoice."
                          },
                          "amountInBaseCurrency": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "The total entry amount in base currency."
                          },
                          "currency": {
                            "type": "string",
                            "pattern": "[a-zA-Z]{3}",
                            "filterable": true,
                            "sortable": true,
                            "description": "The ISO 4217 currency code of the entry."
                          },
                          "date": {
                            "type": "string",
                            "format": "full-date",
                            "pattern": "\\d{4}-\\d{2}-\\d{2}",
                            "filterable": true,
                            "sortable": true,
                            "description": "Entry issue date. The date is formatted according to ISO-8601(YYYY-MM-DD)."
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "full-date",
                            "pattern": "\\d{4}-\\d{2}-\\d{2}",
                            "filterable": true,
                            "sortable": true,
                            "description": "The date the invoice is due for payment. Format according to ISO-8601 (YYYY-MM-DD)."
                          },
                          "departmentalDistribution": {
                            "type": "object",
                            "description": "A departmental distribution defines which departments this entry is distributed between. This requires the departments module to be enabled.",
                            "properties": {
                              "departmentalDistributionNumber": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "A unique identifier of the departmental distribution."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the departmental distribution resource."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "project": {
                            "type": "object",
                            "description": "A reference to any project this entry might be related to. This requires the projects module to be enabled.",
                            "properties": {
                              "projectNumber": {
                                "type": "integer",
                                "minimum": 1,
                                "filterable": true,
                                "description": "A unique identifier of the project."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the project resource."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "costType": {
                            "type": "object",
                            "description": "The cost type for this entity.",
                            "properties": {
                              "costTypeNumber": {
                                "type": "integer",
                                "description": "The unique identifier of cost type.",
                                "maximum": 999999999,
                                "minimum": 1,
                                "filterable": true,
                                "sortable": true
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique link reference to the cost type."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "entryNumber": {
                            "type": "integer",
                            "filterable": true,
                            "sortable": true,
                            "description": "The unique identifier of the entry line."
                          },
                          "text": {
                            "type": "string",
                            "maxLength": 255,
                            "filterable": true,
                            "sortable": true,
                            "description": "A short description about the entry."
                          },
                          "entryType": {
                            "enum": [
                              "customerInvoice",
                              "customerPayment",
                              "supplierInvoice",
                              "supplierPayment",
                              "financeVoucher",
                              "reminder",
                              "openingEntry",
                              "transferredOpeningEntry",
                              "systemEntry",
                              "manualDebtorInvoice"
                            ],
                            "filterable": true,
                            "sortable": true,
                            "description": "The type of entry."
                          },
                          "vatAccount": {
                            "type": "object",
                            "description": "The account for VAT.",
                            "properties": {
                              "vatCode": {
                                "type": "string",
                                "maxLength": 5,
                                "description": "The unique identifier of the vat account."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique link reference to the vatAccount item."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "customer": {
                            "type": "object",
                            "description": "The customer for this entity.",
                            "properties": {
                              "customerNumber": {
                                "type": "integer",
                                "description": "The unique identifier of customer.",
                                "maximum": 999999999,
                                "minimum": 1,
                                "filterable": true,
                                "sortable": true
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique link reference to the customer."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "supplier": {
                            "type": "object",
                            "description": "The supplier for this entity.",
                            "properties": {
                              "supplierNumber": {
                                "type": "integer",
                                "description": "The supplier number is a positive unique numerical identifier with a maximum of 9 digits.",
                                "maximum": 999999999,
                                "minimum": 1,
                                "filterable": true,
                                "sortable": true
                              },
                              "supplierGroup": {
                                "type": "object",
                                "description": "The supplier group for this supplier.",
                                "properties": {
                                  "supplierGroupNumber": {
                                    "type": "integer",
                                    "description": "The supplier group number is a positive unique numerical identifier with a maximum of 9 digits.",
                                    "maximum": 999999999,
                                    "minimum": 1,
                                    "filterable": true
                                  },
                                  "self": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "A unique link reference to the supplier group."
                                  }
                                },
                                "required": [
                                  "self"
                                ]
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique link reference to the supplier."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "unit1": {
                            "type": "object",
                            "description": "The first unit of measure applied to the entry. Requires dimension module.",
                            "properties": {
                              "unitNumber": {
                                "type": "integer",
                                "description": "The unique identifier of the unit.",
                                "filterable": true,
                                "sortable": true,
                                "minimum": 0
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the unit resource."
                              }
                            }
                          },
                          "unit2": {
                            "type": "object",
                            "description": "The second unit of measure applied to the entry. Requires dimension module.",
                            "properties": {
                              "unitNumber": {
                                "type": "integer",
                                "description": "The unique identifier of the unit.",
                                "filterable": true,
                                "sortable": true,
                                "minimum": 0
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the unit resource."
                              }
                            }
                          },
                          "quantity1": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "Requires dimension module."
                          },
                          "quantity2": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "Requires dimension module."
                          },
                          "voucherNumber": {
                            "type": "integer",
                            "filterable": true,
                            "sortable": true,
                            "description": "The identifier of the voucher this entry belongs to."
                          },
                          "bookedInvoice": {
                            "type": "object",
                            "description": "A refernce to any booked Invoice this entry might be related to.",
                            "properties": {
                              "bookedInvoiceNumber": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "A unique identifier of the booked invoice."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the booked invoice resource."
                              }
                            }
                          },
                          "invoiceNumber": {
                            "type": "string",
                            "description": "Unique identifier for reminders and invoices."
                          },
                          "remainder": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "The remainder on the entry."
                          },
                          "remainderInBaseCurrency": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "The remainder in base currency on the entry."
                          },
                          "paymentDetails": {
                            "type": "object",
                            "description": "Payment details associated with the supplier invoice. Each payment detail contains two keys that are required. For the +71 type, fiSupplierNo and ocrLine is expected. For the +73 type, fiSupplierNo and message is expected. For the +04 type, giroAccount and ocrLine is expected. For the bank transfer type, accountNo and message is expected. For the IBAN type, ibanSwift and message is expected. For the +75 type, fiSupplierNo and ocrLineMessage is expected. Please refer to the schema for validation rules details.",
                            "properties": {
                              "paymentType": {
                                "type": "object",
                                "description": "A specific payment type on the entry.",
                                "oneOf": [
                                  {
                                    "properties": {
                                      "fiSupplierNo": {
                                        "type": "string",
                                        "required": true
                                      },
                                      "ocrLine": {
                                        "type": "string",
                                        "minLength": 15,
                                        "maxLength": 15,
                                        "required": true
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "fiSupplierNo": {
                                        "type": "string",
                                        "required": true
                                      },
                                      "message": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 100,
                                        "required": true
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "giroAccount": {
                                        "type": "string",
                                        "required": true
                                      },
                                      "ocrLine": {
                                        "type": "string",
                                        "minLength": 16,
                                        "maxLength": 16,
                                        "required": true
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "accountNo": {
                                        "type": "string",
                                        "required": true
                                      },
                                      "message": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 100,
                                        "required": true
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "ibanSwift": {
                                        "type": "string",
                                        "required": true
                                      },
                                      "message": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 100,
                                        "required": true
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "fiSupplierNo": {
                                        "type": "string",
                                        "required": true
                                      },
                                      "ocrLineMessage": {
                                        "type": "string",
                                        "minLength": 16,
                                        "maxLength": 157,
                                        "required": true
                                      }
                                    }
                                  }
                                ],
                                "properties": {
                                  "paymentTypeNumber": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "The payment type number is a positive unique numerical identifier."
                                  },
                                  "self": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "A unique link reference to the payment type item."
                                  }
                                },
                                "required": [
                                  "self"
                                ]
                              }
                            }
                          },
                          "self": {
                            "type": "string",
                            "format": "uri",
                            "description": "A unique reference to the entry resource."
                          }
                        },
                        "required": [
                          "self"
                        ]
                      }
                    },
                    "metaData": {
                      "type": "object",
                      "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Information about the pagination."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the accounting year entries resource."
                    }
                  },
                  "required": [
                    "self"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounting-years/{accountingYear}/periods": {
      "get": {
        "operationId": "get_accounting-years_accountingYear_periods",
        "summary": "Accounting Year Periods collection schema",
        "description": "A schema for retrieving the periods of an accounting year.",
        "tags": [
          "accounting-years"
        ],
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A schema for retrieving the periods of an accounting year.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A schema for retrieving the periods of an accounting year.",
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "description": "A collection of the periods.",
                      "items": {
                        "type": "object",
                        "description": "A specific period in the accounting year.",
                        "properties": {
                          "periodNumber": {
                            "type": "integer",
                            "minimum": 1,
                            "sortable": true,
                            "filterable": true,
                            "description": "A unique identifier of the period."
                          },
                          "accountingYear": {
                            "type": "object",
                            "description": "The accounting year the period is part of.",
                            "properties": {
                              "year": {
                                "type": "string",
                                "maxLength": 10,
                                "description": "A unique identifier of the accounting year."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the accounting year resource."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "fromDate": {
                            "type": "string",
                            "format": "full-date",
                            "pattern": "\\d{4}-\\d{2}-\\d{2}",
                            "sortable": true,
                            "filterable": true,
                            "defaultsorting": "ascending",
                            "description": "The first date in the period formated according to ISO-8601 (YYYY-MM-DD)."
                          },
                          "toDate": {
                            "type": "string",
                            "format": "full-date",
                            "pattern": "\\d{4}-\\d{2}-\\d{2}",
                            "sortable": true,
                            "filterable": true,
                            "description": "The last date in the period formated according to ISO-8601 (YYYY-MM-DD)."
                          },
                          "closed": {
                            "type": "boolean",
                            "description": "If true this indicates that the accounting period is closed for further transactions."
                          },
                          "entries": {
                            "type": "string",
                            "format": "uri",
                            "description": "A link to a collection of all entries booked in the period."
                          },
                          "totals": {
                            "type": "string",
                            "format": "uri",
                            "description": "A link to the chart of accounts with the periods total in base currency."
                          },
                          "self": {
                            "type": "string",
                            "format": "uri",
                            "description": "A unique link reference to the period item."
                          }
                        },
                        "required": [
                          "self"
                        ]
                      }
                    },
                    "metaData": {
                      "type": "object",
                      "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Information about the pagination."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the accounting year periods resource."
                    }
                  },
                  "required": [
                    "self"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounting-years/{accountingYear}/periods/{accountingYearPeriod}": {
      "get": {
        "operationId": "get_accounting-years_accountingYear_periods_accountingYearPeriod",
        "summary": "Accounting Year Period schema",
        "description": "A schema for retrieving a period of an accounting year.",
        "tags": [
          "accounting-years"
        ],
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountingYearPeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A schema for retrieving a period of an accounting year.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A schema for retrieving a period of an accounting year.",
                  "type": "object",
                  "properties": {
                    "periodNumber": {
                      "type": "integer",
                      "minimum": 1,
                      "description": "A unique identifier of the period."
                    },
                    "accountingYear": {
                      "type": "object",
                      "description": "The accounting year the period is part of.",
                      "properties": {
                        "year": {
                          "type": "string",
                          "maxLength": 4,
                          "description": "A unique identifier of the accounting year."
                        },
                        "self": {
                          "type": "string",
                          "format": "uri",
                          "description": "A unique reference to the accounting year resource."
                        }
                      },
                      "required": [
                        "self"
                      ]
                    },
                    "fromDate": {
                      "type": "string",
                      "format": "full-date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "defaultsorting": "ascending",
                      "description": "The first date in the period formatted according to ISO-8601(YYYY-MM-DD)."
                    },
                    "toDate": {
                      "type": "string",
                      "format": "full-date",
                      "pattern": "\\d{4}-\\d{2}-\\d{2}",
                      "description": "The last date in the period formatted according to ISO-8601(YYYY-MM-DD)."
                    },
                    "closed": {
                      "type": "boolean",
                      "description": "If true this indicates that the accounting period is closed for further transactions."
                    },
                    "entries": {
                      "type": "string",
                      "format": "uri",
                      "description": "A link to a collection of all entries booked in the period."
                    },
                    "totals": {
                      "type": "string",
                      "format": "uri",
                      "description": "A link to the chart of accounts with the periods total in base currency."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique link reference to the period item."
                    }
                  },
                  "required": [
                    "self"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounting-years/{accountingYear}/periods/{accountingYearPeriod}/entries": {
      "get": {
        "operationId": "get_accounting-years_accountingYear_periods_accountingYearPeriod_entries",
        "summary": "Entries collection schema",
        "description": "A schema for retrieving the entries for a specific accounting year period. This requires that international ledger is enabled.",
        "tags": [
          "accounting-years"
        ],
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountingYearPeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A schema for retrieving the entries for a specific accounting year period. This requires that international ledger is enabled.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A schema for retrieving the entries for a specific accounting year period. This requires that international ledger is enabled.",
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "description": "A collection of entries.",
                      "items": {
                        "type": "object",
                        "description": "A specific entry in the accounting year period.",
                        "properties": {
                          "account": {
                            "type": "object",
                            "description": "The account the entry is connected to.",
                            "properties": {
                              "accountNumber": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "A unique identifier of the account."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the account resource."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "amount": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "The total entry amount."
                          },
                          "supplierInvoiceNumber": {
                            "type": "string",
                            "filterable": true,
                            "sortable": true,
                            "description": "A unique identifier of the supplier invoice."
                          },
                          "amountInBaseCurrency": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "The total entry amount in base currency."
                          },
                          "currency": {
                            "type": "string",
                            "pattern": "[a-zA-Z]{3}",
                            "filterable": true,
                            "sortable": true,
                            "description": "The ISO 4217 currency code of the entry."
                          },
                          "date": {
                            "type": "string",
                            "format": "full-date",
                            "pattern": "\\d{4}-\\d{2}-\\d{2}",
                            "filterable": true,
                            "sortable": true,
                            "description": "Entry issue date. The date is formatted according to ISO-8601(YYYY-MM-DD)."
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "full-date",
                            "pattern": "\\d{4}-\\d{2}-\\d{2}",
                            "filterable": true,
                            "sortable": true,
                            "description": "The date the invoice is due for payment. Format according to ISO-8601 (YYYY-MM-DD)."
                          },
                          "departmentalDistribution": {
                            "type": "object",
                            "description": "A departmental distribution defines which departments this entry is distributed between. This requires the departments module to be enabled.",
                            "properties": {
                              "departmentalDistributionNumber": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "A unique identifier of the departmental distribution."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the departmental distribution resource."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "project": {
                            "type": "object",
                            "description": "A reference to any project this entry might be related to. This requires the projects module to be enabled.",
                            "properties": {
                              "projectNumber": {
                                "type": "integer",
                                "minimum": 1,
                                "filterable": true,
                                "description": "A unique identifier of the project."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the project resource."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "costType": {
                            "type": "object",
                            "description": "The cost type for this entity.",
                            "properties": {
                              "costTypeNumber": {
                                "type": "integer",
                                "description": "The unique identifier of cost type.",
                                "maximum": 999999999,
                                "minimum": 1,
                                "filterable": true,
                                "sortable": true
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique link reference to the cost type."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "entryNumber": {
                            "type": "integer",
                            "filterable": true,
                            "sortable": true,
                            "description": "The unique identifier of the entry line."
                          },
                          "text": {
                            "type": "string",
                            "maxLength": 255,
                            "filterable": true,
                            "sortable": true,
                            "description": "A short description about the entry."
                          },
                          "entryType": {
                            "enum": [
                              "customerInvoice",
                              "customerPayment",
                              "supplierInvoice",
                              "supplierPayment",
                              "financeVoucher",
                              "reminder",
                              "openingEntry",
                              "transferredOpeningEntry",
                              "systemEntry",
                              "manualDebtorInvoice"
                            ],
                            "filterable": true,
                            "sortable": true,
                            "description": "The type of entry."
                          },
                          "vatAccount": {
                            "type": "object",
                            "description": "The account for VAT.",
                            "properties": {
                              "vatCode": {
                                "type": "string",
                                "maxLength": 5,
                                "description": "The unique identifier of the vat account."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique link reference to the vatAccount item."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "customer": {
                            "type": "object",
                            "description": "The customer for this entity.",
                            "properties": {
                              "customerNumber": {
                                "type": "integer",
                                "description": "The unique identifier of customer.",
                                "filterable": true,
                                "sortable": true
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique link reference to the customer."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "supplier": {
                            "type": "object",
                            "description": "The supplier for this entity.",
                            "properties": {
                              "supplierNumber": {
                                "type": "integer",
                                "description": "The unique identifier of supplier.",
                                "filterable": true,
                                "sortable": true
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique link reference to the supplier."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "unit1": {
                            "type": "object",
                            "description": "The first unit of measure applied to the entry. Requires dimension module.",
                            "properties": {
                              "unitNumber": {
                                "type": "integer",
                                "description": "The unique identifier of the unit.",
                                "filterable": true,
                                "sortable": true,
                                "minimum": 0
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the unit resource."
                              }
                            }
                          },
                          "unit2": {
                            "type": "object",
                            "description": "The second unit of measure applied to the entry. Requires dimension module.",
                            "properties": {
                              "unitNumber": {
                                "type": "integer",
                                "description": "The unique identifier of the unit.",
                                "filterable": true,
                                "sortable": true,
                                "minimum": 0
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the unit resource."
                              }
                            }
                          },
                          "quantity1": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "Requires dimension module."
                          },
                          "quantity2": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "Requires dimension module."
                          },
                          "voucherNumber": {
                            "type": "integer",
                            "filterable": true,
                            "sortable": true,
                            "description": "The identifier of the voucher this entry belongs to."
                          },
                          "bookedInvoice": {
                            "type": "object",
                            "description": "A refernce to any booked Invoice this entry might be related to.",
                            "properties": {
                              "bookedInvoiceNumber": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "A unique identifier of the booked invoice."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the booked invoice resource."
                              }
                            }
                          },
                          "invoiceNumber": {
                            "type": "string",
                            "description": "Unique identifier for reminders and invoices."
                          },
                          "remainder": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "The remainder on the entry."
                          },
                          "remainderInBaseCurrency": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "The remainder in base currency on the entry."
                          },
                          "paymentDetails": {
                            "type": "object",
                            "description": "Payment details associated with the supplier invoice. Each payment detail contains two keys that are required. For the +71 type, fiSupplierNo and ocrLine is expected. For the +73 type, fiSupplierNo and message is expected. For the +04 type, giroAccount and ocrLine is expected. For the bank transfer type, accountNo and message is expected. For the IBAN type, ibanSwift and message is expected. For the +75 type, fiSupplierNo and ocrLineMessage is expected. Please refer to the schema for validation rules details.",
                            "properties": {
                              "paymentType": {
                                "type": "object",
                                "description": "A specific payment type on the entry.",
                                "oneOf": [
                                  {
                                    "properties": {
                                      "fiSupplierNo": {
                                        "type": "string",
                                        "required": true
                                      },
                                      "ocrLine": {
                                        "type": "string",
                                        "minLength": 15,
                                        "maxLength": 15,
                                        "required": true
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "fiSupplierNo": {
                                        "type": "string",
                                        "required": true
                                      },
                                      "message": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 100,
                                        "required": true
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "giroAccount": {
                                        "type": "string",
                                        "required": true
                                      },
                                      "ocrLine": {
                                        "type": "string",
                                        "minLength": 16,
                                        "maxLength": 16,
                                        "required": true
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "accountNo": {
                                        "type": "string",
                                        "required": true
                                      },
                                      "message": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 100,
                                        "required": true
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "ibanSwift": {
                                        "type": "string",
                                        "required": true
                                      },
                                      "message": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 100,
                                        "required": true
                                      }
                                    }
                                  },
                                  {
                                    "properties": {
                                      "fiSupplierNo": {
                                        "type": "string",
                                        "required": true
                                      },
                                      "ocrLineMessage": {
                                        "type": "string",
                                        "minLength": 16,
                                        "maxLength": 157,
                                        "required": true
                                      }
                                    }
                                  }
                                ],
                                "properties": {
                                  "paymentTypeNumber": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "The payment type number is a positive unique numerical identifier."
                                  },
                                  "self": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "A unique link reference to the payment type item."
                                  }
                                },
                                "required": [
                                  "self"
                                ]
                              }
                            }
                          },
                          "self": {
                            "type": "string",
                            "format": "uri",
                            "description": "A unique reference to the entry resource."
                          }
                        },
                        "required": [
                          "self"
                        ]
                      }
                    },
                    "metaData": {
                      "type": "object",
                      "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Information about the pagination."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the accounting year entries resource."
                    }
                  },
                  "required": [
                    "self"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounting-years/{accountingYear}/periods/{accountingYearPeriod}/totals": {
      "get": {
        "operationId": "get_accounting-years_accountingYear_periods_accountingYearPeriod_totals",
        "summary": "Accounting Year period totals schema",
        "description": "A schema for retrieving account totals for a specific accounting year period.",
        "tags": [
          "accounting-years"
        ],
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountingYearPeriod",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A schema for retrieving account totals for a specific accounting year period.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A schema for retrieving account totals for a specific accounting year period.",
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "description": "A collection of the totals.",
                      "items": {
                        "type": "object",
                        "description": "A specific total for an account in the accounting year period.",
                        "properties": {
                          "totalInBaseCurrency": {
                            "type": "number",
                            "maxDecimal": 2,
                            "description": "The total entry amount in base currency for the accounting year period."
                          },
                          "account": {
                            "type": "object",
                            "description": "A reference to the account totaled.",
                            "properties": {
                              "accountNumber": {
                                "type": "integer",
                                "description": "The account number."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the account resource."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "fromDate": {
                            "type": "string",
                            "format": "full-date",
                            "pattern": "\\d{4}-\\d{2}-\\d{2}",
                            "defaultsorting": "ascending",
                            "description": "The first date in the period formatted according to ISO-8601(YYYY-MM-DD)."
                          },
                          "toDate": {
                            "type": "string",
                            "format": "full-date",
                            "pattern": "\\d{4}-\\d{2}-\\d{2}",
                            "description": "The last date in the period formatted according to ISO-8601(YYYY-MM-DD)."
                          },
                          "self": {
                            "type": "string",
                            "format": "uri",
                            "description": "A unique reference to the totals resource."
                          }
                        },
                        "required": [
                          "self"
                        ]
                      }
                    },
                    "metaData": {
                      "type": "object",
                      "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Information about the pagination."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the accounting year periods totals resource."
                    }
                  },
                  "required": [
                    "self"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounting-years/{accountingYear}/totals": {
      "get": {
        "operationId": "get_accounting-years_accountingYear_totals",
        "summary": "Accounting Year totals schema",
        "description": "A schema for retrieving account totals for a specific accounting year.",
        "tags": [
          "accounting-years"
        ],
        "parameters": [
          {
            "name": "accountingYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A schema for retrieving account totals for a specific accounting year.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A schema for retrieving account totals for a specific accounting year.",
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "description": "A collection of the totals.",
                      "items": {
                        "type": "object",
                        "description": "A specific total for an account in the accounting year.",
                        "properties": {
                          "totalInBaseCurrency": {
                            "type": "number",
                            "maxDecimal": 2,
                            "description": "The total entry amount in base currency for the accounting year."
                          },
                          "account": {
                            "type": "object",
                            "description": "The account used.",
                            "properties": {
                              "accountNumber": {
                                "type": "integer",
                                "description": "The account number."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique reference to the account resource."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "fromDate": {
                            "type": "string",
                            "format": "full-date",
                            "pattern": "\\d{4}-\\d{2}-\\d{2}",
                            "defaultsorting": "ascending",
                            "description": "The first date in the period formated according to ISO-8601 (YYYY-MM-DD)."
                          },
                          "toDate": {
                            "type": "string",
                            "format": "full-date",
                            "pattern": "\\d{4}-\\d{2}-\\d{2}",
                            "description": "The last date in the period formated according to ISO-8601 (YYYY-MM-DD)."
                          },
                          "self": {
                            "type": "string",
                            "format": "uri",
                            "description": "A unique reference to the account accounting year totals resource."
                          }
                        },
                        "required": [
                          "self"
                        ]
                      }
                    },
                    "metaData": {
                      "type": "object",
                      "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Information about the pagination."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "A unique reference to the accounting year totals resource."
                    }
                  },
                  "required": [
                    "self"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "get_accounts",
        "summary": "Accounts collection schema",
        "description": "A schema for retrieving the accounts of the chart of accounts.",
        "tags": [
          "accounts"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A schema for retrieving the accounts of the chart of accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A schema for retrieving the accounts of the chart of accounts.",
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "description": "A collection of the accounts.",
                      "items": {
                        "type": "object",
                        "description": "A schema for information about an account.",
                        "properties": {
                          "accountNumber": {
                            "type": "integer",
                            "filterable": true,
                            "sortable": true,
                            "defaultsorting": "ascending",
                            "description": "The account's number."
                          },
                          "accountType": {
                            "enum": [
                              "profitAndLoss",
                              "status",
                              "totalFrom",
                              "heading",
                              "headingStart",
                              "sumInterval",
                              "sumAlpha"
                            ],
                            "default": "profitAndLoss",
                            "filterable": true,
                            "sortable": true,
                            "description": "The type of account in the chart of accounts."
                          },
                          "balance": {
                            "type": "number",
                            "maxDecimal": 2,
                            "filterable": true,
                            "sortable": true,
                            "description": "The current balanace of the account."
                          },
                          "draftBalance": {
                            "type": "number",
                            "maxDecimals": 2,
                            "description": "The current balance of the account including draft (not yet booked) entries."
                          },
                          "barred": {
                            "type": "boolean",
                            "filterable": true,
                            "description": "Shows if the account is barred from being used."
                          },
                          "blockDirectEntries": {
                            "type": "boolean",
                            "sortable": true,
                            "filterable": true,
                            "description": "Determines if the account can be manually updated with entries."
                          },
                          "contraAccount": {
                            "type": "object",
                            "description": "The default contra account of the account.",
                            "properties": {
                              "accountNumber": {
                                "type": "integer",
                                "description": "Account number of the contra account."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "The unique self link of the contra account."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "debitCredit": {
                            "enum": [
                              "debit",
                              "credit"
                            ],
                            "default": "debit",
                            "sortable": true,
                            "filterable": true,
                            "description": "Describes the default update type of the account."
                          },
                          "department": {
                            "type": "object",
                            "description": "The department associated with this account.",
                            "properties": {
                              "departmentNumber": {
                                "type": "integer",
                                "description": "A unique identifier of the department."
                              },
                              "name": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "The name of the department."
                              },
                              "barred": {
                                "type": "boolean",
                                "description": "Indicates if the department is barred from usage. Default is false."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "A unique link reference to the department item."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "departmentalDistribution": {
                            "type": "object",
                            "description": "Information about a departmental distribution.",
                            "properties": {
                              "departmentalDistributionNumber": {
                                "type": "integer",
                                "description": "A unique numeric identifier for the departmental distribution."
                              },
                              "name": {
                                "type": "string",
                                "maxLength": 250,
                                "description": "A descriptive name of the specific departmental distribution."
                              },
                              "distributionType": {
                                "type": "string",
                                "enum": [
                                  "distribution",
                                  "department"
                                ],
                                "description": "This property indicates whether the distribution is system generated from a departmentor if it is one created by a user. In order to make it easy to distribute everything to one department, the system generates a distribution for each department."
                              },
                              "distributions": {
                                "type": "array",
                                "description": "A list of departments and their share of the distribution in percentage. The percentages always add up to 100%.",
                                "items": {
                                  "type": "object",
                                  "description": "Description of the distributions that make up a departmental distribution.",
                                  "properties": {
                                    "percentage": {
                                      "type": "number",
                                      "maximum": 100,
                                      "minimum": 0,
                                      "exclusiveMinimum": true,
                                      "description": "The percentage distributed to this department."
                                    },
                                    "department": {
                                      "type": "object",
                                      "description": "A reference to the department.",
                                      "properties": {
                                        "departmentNumber": {
                                          "type": "integer",
                                          "minimum": 1,
                                          "description": "A unique identifier of the department."
                                        },
                                        "self": {
                                          "type": "string",
                                          "format": "uri",
                                          "description": "The unique self reference of the department."
                                        }
                                      },
                                      "required": [
                                        "self"
                                      ]
                                    }
                                  }
                                }
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "The unique self reference of the departmental distribution."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 125,
                            "sortable": true,
                            "filterable": true,
                            "description": "The name of the account."
                          },
                          "vatAccount": {
                            "type": "object",
                            "desciption": "The default VAT code for this account.",
                            "properties": {
                              "vatCode": {
                                "type": "string",
                                "maxLength": 5,
                                "description": "The VAT code of the VAT account for this account."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "The unique self link of the VAT code."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "accountsSummed": {
                            "type": "array",
                            "description": "An array of the account intervals used for calculating the total for this account.",
                            "items": {
                              "type": "object",
                              "description": "An account interval.",
                              "properties": {
                                "fromAccount": {
                                  "type": "object",
                                  "description": "The first account in the interval.",
                                  "properties": {
                                    "accountNumber": {
                                      "type": "integer",
                                      "description": "Account number of the first account in the interval."
                                    },
                                    "self": {
                                      "type": "string",
                                      "format": "uri",
                                      "description": "The unique self link of the first account in the interval."
                                    }
                                  },
                                  "required": [
                                    "self"
                                  ]
                                },
                                "toAccount": {
                                  "type": "object",
                                  "description": "The last account in the interval.",
                                  "properties": {
                                    "accountNumber": {
                                      "type": "integer",
                                      "description": "Account number of the last account in the interval."
                                    },
                                    "self": {
                                      "type": "string",
                                      "format": "uri",
                                      "description": "The unique self link of the last account in the interval."
                                    }
                                  },
                                  "required": [
                                    "self"
                                  ]
                                }
                              }
                            }
                          },
                          "totalFromAccount": {
                            "type": "object",
                            "description": "The account from which the sum total for this account is calculated.",
                            "properties": {
                              "accountNumber": {
                                "type": "integer",
                                "description": "Account number of the first account."
                              },
                              "self": {
                                "type": "string",
                                "format": "uri",
                                "description": "The unique self link of the first account."
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "accountingYears": {
                            "type": "string",
                            "format": "uri",
                            "description": "A link to a list of accounting years for which the account is usable."
                          },
                          "self": {
                            "type": "string",
                            "format": "uri",
                            "description": "A unique reference to the account resource."
                          }
                        },
                        "required": [
                          "self"
                        ]
                      }
                    },
                    "metaData": {
                      "type": "object",
                      "description": "Information about possible actions, endpoints and resource paths related to the endpoint."
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Information about the pagination."
                    },
                    "self": {
                      "type": "string",
                      "format": "uri",
                      "description": "The unique self reference of the accounts collection."
                    }
                  },
                  "required": [
                    "self"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountNumber}": {
      "get": {
        "operationId": "get_accounts_accountNumber",
        "summary": "Account schema",
        "description": "A schema for information about an account.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A schema for information about an account.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "A schema for information about an account.",
                  "type": "object",
                  "properties": {
                    "accountNumber": {
                      "type": "integer",
                      "filterable": true,
                      "sortable": true,
                      "description": "The account's number."
                    },
                    "accountType": {
                      "enum": [
                        "profitAndLoss",
                        "status",
                        "totalFrom",
                        "heading",
                        "headingStart",
                        "sumInterval",
                        "sumAlpha"
                      ],
                      "default": "profitAndLoss",
                      "filterable": true,
                      "sortable": true,
                      "description": "The type of account in the chart of accounts."
                    },
                    "balance": {
                      "type": "number",
                      "maxDecimal": 2,
                      "filterable": true,
                      "sortable": true,
                      "description": "The current balanace of the account."
                    },
                    "draftBalance": {
                      "type": "number",
                      "maxDecimals": 2,
                      "description": "The current balance of the account including draft (not yet booked) entries."
                    },
                    "barred": {
[...]
